cache/
#install/

.idea
#.metadata
#.settings
#.project
#.htaccess


#*.orig
#*.ini

#config.php

# Media
*.psd
#files/documents/*.pdf
media/image/*
media/image/thumbnail/*

#media/image/thumbnail/*.gif
#media/image/thumbnail/*.png


# Mac-Stuff
.DS_Store



