#INSTALL.txt
#LICENSE.txt
#README.txt
#README.md
#eula.txt
#eula_en.txt
#license.txt

cache/
engine/Shopware/Proxies
#install/

.idea/
.metadata
.settings
.project

*.orig

.htaccess
config.php

# Media
#*.jpg
#*.gif
#*.png
# media/image/*.jpg
# media/image/*.gif
# media/image/*.png
# media/image/thumbnail/*.jpg
# media/image/thumbnail/*.gif
# media/image/thumbnail/*.png


# Mac-Stuff
.DS_Store



