/*	GENERAL LISTING
	------------------------ */
.listing_actions {
    height: 40px;
    background: none;
    border-color: transparent;
    padding: 0 0 0 0;
}

div.listing {
    width: 824px;
}

/** LISTING ACTIONS **/
.listing_actions .bottom {
    border-top: none;
    border-bottom: 1px dashed;
    border-color: #dfdfdf;

}

.listing_actions .articleperpage {
    width: 195px;
    margin-right: 7px;
}

.listing_actions .top {
    padding: 10px 0 10px;
}

#listing .artbox {
    background: url("../images/next/productBox_194.png");
    width: 196px;
    height: 301px;
    border: none;
}

#listing .artbox .inner {
    width: 184px;
    height: 270px;
}

/* ARTBOX
    ------------------------ */
.artbox {
    margin: 0 5px 10px 0;
}

.artbox .inner {
    padding: 5px;
}

.artbox span.price {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0px;
}

.artbox .artbox_thumb {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1px;
    height: 220px;
    width: 180px;
    display: block;
    text-align: center;
    background-color: #b40700;
}

.artbox a.title {
    width: 174px;
    margin: 15px 5px 0px 5px;
    text-decoration: none;
}

.artbox a.title:hover {
    color: #b40700;
}

.artbox p.price, .artbox p.pseudoprice {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: 15px;
    float: right;
}

.artbox a.image_overlay {
    width: 182px;
    height: 240px;
    background: url(../images/productOverlay_182_normal.png) no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    top: 5px;
    left: 6px;
}

.artbox a.image_overlay:hover {
    width: 182px;
    height: 240px;
    background: url(../images/productOverlay_182_hover.png) no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    top: 5px;
    left: 6px;
}