/** Background image */

@import url(http://fonts.googleapis.com/css?family=Nobile);

html {
    /*background: #fffef4 url('../images/next/bg-white-dots.png') repeat;*/
}

body {
    /*font-family: 'Nobile', sans-serif;*/
    /*background: url("../images/next/bg_1.png") repeat;*/
    /*background-image: url("../images/next/fond.jpg");*/
    /*background: #fffef4 url('../images/next/bg_3.png') repeat;*/
    min-width: 1024px;
    background: #fffef4 url('../images/next/bg-content.jpg') repeat;
}

body .my_options a, .my_options .service {
    color: #aaa !important
}

.my_options {
    float: right;
    background: transparent;
    border: 0 none;
    margin-right: 50px;
    padding: 10px 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.my_options a.note {
    color: #3e3e3e;
    font-weight: bold;
    background: none;
    padding: 4px 10px 0 10px;
    border-right: none;
    position: relative;
}

.my_options, #shopnavi {
    float: left
}

.my_options a.account,
.my_options a.note {
    border-right-color: #666;
}

.my_options #topbar input.active {
    color: #fff
}

/** Remove background image from the "my account" link */
.my_options a.account {
    background: none;
    padding-left: 0
}

.my_options a.account:hover {
    background: none;
}

.my_options a:hover span,
.my_options a:hover,
.my_options .service span:hover {
    color: #b40700 !important;
    text-decoration: none;
}

#top_opinion {
    width: 100%;
    height: 56px;
    margin: 0 auto;
    position: fixed;
    z-index: 50;
    /*background: transparent url(../images/next/bg-header.png) scroll top left repeat-x;*/
}

/** Header */
#header {
    width: 100%;
    height: 150px;
    float: left;
    border-bottom: 1px #49483E dashed;
    background: #fffef4 url(../images/bg-wood.jpg) scroll top left repeat-x;
}

/*
#header #logo {margin: 0;}
#header #logo a {background: url(../images/dl_logo_2.png) no-repeat;width: 286px; height: 44px;margin: 40px 0 0;}
*/

#header .inner {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

#header #logo {
    z-index: 200;
    top: 5px;
}

#header #logo a {
    width: 230px;
    height: 175px;
    margin: 0 0 0 0;
    background: url(../images/next/logo.png) transparent no-repeat;
    -webkit-transform: rotate(350deg);
    -ms-transform: rotate(350deg);
}

#shopnavi {
    top: 0;
}

#shopnavi .display, #shopnavi .icon {
    display: none
}

#shopnavi .ajax_basket_container {
    float: none;
    position: static;
    top: auto;
    right: 0;
    background: #b40700 url("../images/cart_icon_small.png") no-repeat center center;
    height: 46px;
    margin: 0;
    width: 50px;
}

#shopnavi .ajax_basket_container:hover,
#shopnavi .ajax_basket_container.active {
    background-position: center center;
}

#shopnavi .ajax_basket_container .ajax_basket {
    text-indent: -9999em;
    width: 40px;
    height: 46px;
}

/** Reposition the ajax loader */
#shopnavi .ajax_basket_container div.ajax_loader {
    background: url("../images/ajax-loader.gif") no-repeat;
    top: 15px;
    right: 14px;
}

/** Ajax basket result */
.ajax_basket_result {
    top: 46px !important;
    border-color: #e1540f;
    border-top: 0 none;
}

div#searchcontainer {
    position: absolute;
    right: 0px;
    left: 740px;
    top: 130px;
    background: transparent;
}

div#searchcontainer .inner_searchcontainer {
    width: 300
}

/* MAIN-NAVIGATION
	------------------------ */

#mainNavigation {
    background: none;
    border-bottom: none;
    position: absolute;
    left: 250px;
    top: 65px;
    width: 600px;
    height: 50px;
    padding: 0 0 0 0;
    font-weight: 700;
}

#mainNavigation a {
    background: none;
    border-left: none;
    border-right: none;
}

#mainNavigation a.active {
    background: #b40700;
    color: #fff;
    border: 0 none;
    height: 30px;
    font-weight: 700;
    padding: 0 0 0 0;
}

#mainNavigation a.active span {
    background: none;
    color: #fff;
    height: 30px;
}

#mainNavigation a.active:hover span {
    background: none;
    color: #fff;
    height: 30px;
    margin: 0;
    line-height: 40px;
}

#mainNavigation ul li.dropactive:hover a {
    background: transparent;
    border-style: none none;
    border-width: 0 0px;

}

#mainNavigation ul li.dropactive:hover a span {
    background: #000;
    height: 38px;
    color: #fff;
}

#content .inner {
    width: 100%;
    margin-top: 0px;
}

#content {
    width: 100%;
    margin-top: 0px;
}

/*	SIDEBAR LEFT
    ------------------------ */
#content #left {
    top: 17px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    background-color: #FFFFFF;
    -moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;
}

#content #left .categories li.active {
    border: 0;
    width: 170px;
}

#left .left_categories_shadow {
    right: 0px;
    width: 182px;
    border: none;
    background: none;
}

#content #left ul li {
    border-color: transparent;
    border-right-style: none;
    border-right-width: 0px;
    background-color: transparent;
}

#content #left ul li a {
    color: #3e3e3e;
}

#content #left ul li.active {
    background-color: transparent;
    border-color: #f2f2f2;
}

#content #left ul li.active.sub a.active {
    border-bottom-color: transparent;
}

#content #left ul li.active li {
    background-color: transparent;
}

#content #left ul li.active li a {
    color: #474747;
}

#content #left ul li.active li.active a {
    color: #e1540f;
}

#content #left ul li.active li.active li a {
    color: #797979;
}

#content #left ul li.active li.active li a.flag {
    color: #e1540f;
}

#content #left ul li.active li.active li.active a.flag {
    color: #797979;
}

#content #left ul li.active ul.submenu ul, #content #left ul li.active ul.submenu ul.submenu ul.submenu {
    border-color: transparent;
}

/** LEVEL 0 **/

#content #left .categories li.active.sub a.active {
    background-color: #b40700;
    border: none;
    color: #fff;
}

#content #left .categories li a:hover {
    color: #b40700;
}

/** LEVEL 1 **/
#content #left .categories li .submenu {
    background: none;
    border-left: none;
    border-right: none;
    padding-top: 5px;
}

/*  CONTAINER
    ------------------------ */
div#breadcrumb {
    width: 984px;
    background: none;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color: #fff;
    -moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;
}

.container_20 {
    background: none;
    margin-top: 20px;
    padding: 0 0 0 0;
    width: 100%;
    /*background: #fffaed;
    border: 0;
    -moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;*/
}

#center {
    width: 794px;
    /*background: #fff;*/
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /*-moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;*/
}

#center.home {
    margin-right: 10px;
    margin-left: 10px;
    width: 984px;
    overflow: hidden;
}

/*	WRAPPER
	------------------------ */
#wrapper {
    width: 1024px;
}

#wrapper .wrap_inner {
    background: none;
}

#wrapper .footer_top,
#wrapper .wrap_top {
    background: none;
}

#wrapper .footer_cap,
#wrapper .wrap_cap {
    background: none;
}

/*	GENERAL LISTING
	------------------------ */
.listing_actions {
    height: 40px;
    background: none;
    border-color: transparent;
    padding: 0 0 0 0;
}

div.listing {
    width: 824px;
}

/** LISTING ACTIONS **/
.listing_actions .bottom {
    border-top: none;
    border-bottom: 1px dashed;
    border-color: #dfdfdf;

}

.listing_actions .articleperpage {
    width: 195px;
    margin-right: 7px;
}

.listing_actions .top {
    padding: 10px 0 10px;
}

#listing .artbox {
    background: url("../images/next/productBox_194.png");
    width: 196px;
    height: 301px;
    border: none;
}

#listing .artbox .inner {
    width: 184px;
    height: 270px;
}

/* ARTBOX
    ------------------------ */
.artbox {
    margin: 0 5px 10px 0;
}

.artbox .inner {
    padding: 5px;
}

.artbox span.price {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0px;
}

.artbox .artbox_thumb {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1px;
    height: 220px;
    width: 180px;
    display: block;
    text-align: center;
    background-color: #b40700;
}

.artbox a.title {
    width: 174px;
    margin: 15px 5px 0px 5px;
    text-decoration: none;
}

.artbox a.title:hover {
    color: #b40700;
}

.artbox p.price, .artbox p.pseudoprice {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: 15px;
    float: right;
}

.artbox a.image_overlay {
    width: 182px;
    height: 240px;
    background: url(../images/productOverlay_182_normal.png) no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    top: 5px;
    left: 6px;
}

.artbox a.image_overlay:hover {
    width: 182px;
    height: 240px;
    background: url(../images/productOverlay_182_hover.png) no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    top: 5px;
    left: 6px;
}

/*	TAGCLOUD
	------------------------ */
.tagcloud {
    background: #fff;
    border-color: #dfdfdf;
    border-top-color: #fff;
    -moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;
}

/* ZULETZT ANGESCHAUTE ARTIKEL */

.viewlast {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: none;
    padding: 20px;
    display: inline-block;
    width: 964px;
    background: #f6f3ea;
    border: 1px dashed #e0dcce;
    border-radius: 5px 5px 5px 5px;

    /*background: #fff;
    -moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;*/
}

.viewlast .article_description {
    margin-top: 5px;
    height: 25px;
    padding: 0;
    color: #000;
    font-size: 12px;
}

.viewlast .lastview_rule,
.viewlast li {
    background: none;
    float: left;
    padding-right: 35px;
    margin: 0 10px 10px 0;
    height: 140px;
    width: 155px;
    text-align: center;
}

/* FOOTER */

#footer_wrapper {
    background-color: #333541;
    background-image: url("../images/bg-wood.jpg");
    border-top: none;
}

#footer_wrapper .footer_top {
    height: 7px;
}

#footer_wrapper .footer_inner {
    width: 100%;
    min-height: 270px;
    margin: 0 auto;
    background: transparent;
}

#footer_wrapper .footer_inner #footer {
    background: none;
    width: 100%;
    margin: 40px auto 0;
}

#footer_wrapper .footer_inner .bottom {
    width: 1000px;
    margin: 20px auto 0;
    text-align: center;
    padding-bottom: 10px;
}

#footer .footer_menu {
    background: none;
    height: 205px;
    width: 1020px;
    border: 0;
    overflow: hidden;
    text-align: left;
    margin: 30px auto;
    padding: 0;
}

#footer .footer_menu .head {
    color: #b40700;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

#footer .footer_menu .footer_column {
    float: left;
    min-height: 250px;
    padding: 0 30px;
}

/* ARTICLE DETAILS
	------------------------ */

#content #detail {
    padding: 10px;
    margin: 10px;
    width: 984px;
    /*    background-color: #ffffff;
        -moz-box-shadow: 0 -1px 8px #b3a88d;
        -webkit-box-shadow: 0 -1px 8px #b3a88d;
        box-shadow: 0 -1px 8px #b3a88d;*/
}

.ctl_detail #content .inner {
    width: 100%;
}

.ctl_detail #content {
    margin-top: 20px;
}

.ctl_detail .thumb_box a:hover {
    border: 1px dashed #e0dcce;
}

.ctl_detail .thumb_box a.active {
    border-style: solid;
    border-color: #e0dcce;
    opacity: 1
}

#detail #detailinfo {
    border-top: 1px #e0dcce dashed;
    margin-top: 10px;
}

#detail #detailinfo #description,
#detail #detailinfo .ui-tabs-panel {
    padding-top: 30px;
    padding-left: 0px;
    width: 560px;
}

#detail .right {
    width: 570px;
}

/* Artikel-switcher */

#detail .article_back {
    background: url("../images/next/bg-prev.png") no-repeat;
    width: 25px;
    float: none;
    height: 25px;
    position: absolute;
    top: 200px;
    z-index: 10;
}

#detail .article_next {
    background: url("../images/next/bg-next.png") no-repeat;
    width: 25px;
    float: none;
    height: 25px;
    position: absolute;
    top: 200px;
    z-index: 10;
}

#detail .article_back:hover {
    background-position: 0px 0;
    opacity: 0.7
}

#detail .article_next:hover {
    background-position: 0px 0;
    opacity: 0.7
}

#detail .article_back a {
    background: none
}

#detail .article_back:hover a {
    background: none
}

#detail .article_next a {
    background: none
}

#detail .article_next:hover a {
    background: none
}

#detailbox h1 {
    line-height: 26px;
    border-bottom: 1px dashed #e0dcce;
    padding-bottom: 10px;
}

#detail #detailbox #img {
    width: 273px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    float: left;
    padding: 15px;
    background: #f6f3ea;
    border: 1px dashed #e0dcce;
    border-radius: 5px 5px 5px 5px;
}

#buybox {
    width: 100%;
}

#buybox label {
    width: 70px;
}

#buybox #detailCartButton {
    border-top: none;
    padding-top: 20px;
}

/* SelectBoxen-Größe */
#buybox #detailCartButton #sQuantity {
    width: 87px;
}

#buybox select {
    width: 87px;
}

#buybox .article_details_bottom {
    margin: 0px 0 0;
    padding: 0px 0 0px;
    border-style: none none none;
}

#buybox #basketButton {
    width: 175px;
    margin-top: 0;
    float: right;
    box-shadow: 1px 1px 4px #adadad;
    -moz-box-shadow: 1px 1px 4px #adadad;
    -webkit-box-shadow: 1px 1px 4px #adadad;
}

/*	FANCY SELECT
	-------------------------------------------- */
body .outer-select {
    width: 60px;
}