/** Background image */

@import url(http://fonts.googleapis.com/css?family=Nobile);

html {
    /*background: #fffef4 url('../images/next/bg-white-dots.png') repeat;*/
}


body {
    /*font-family: 'Nobile', sans-serif;*/
    /*background: url("../images/next/bg_1.png") repeat;*/
    /*background-image: url("../images/next/fond.jpg");*/
    /*background: #fffef4 url('../images/next/bg_3.png') repeat;*/
    min-width: 1024px;
    background: #fffef4 url('../images/next/bg-content.jpg') repeat;
}

body .my_options a, .my_options .service {
    color: #aaa !important
}

.my_options {
    float: right;
    background: transparent;
    border: 0 none;
    margin-right: 50px;
    padding: 10px 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.my_options a.note {
    color: #3e3e3e;
    font-weight: bold;
    background: none;
    padding: 4px 10px 0 10px;
    border-right: none;
    position: relative;
}

.my_options, #shopnavi {
    float: left
}

.my_options a.account,
.my_options a.note {
    border-right-color: #666;
}

.my_options #topbar input.active {
    color: #fff
}

/** Remove background image from the "my account" link */
.my_options a.account {
    background: none;
    padding-left: 0
}

.my_options a.account:hover {
    background: none;
}

.my_options a:hover span,
.my_options a:hover,
.my_options .service span:hover {
    color: #b40700 !important;
    text-decoration: none;
}

#top_opinion {
    width: 100%;
    height: 56px;
    margin: 0 auto;
    position: fixed;
    z-index: 50;
    /*background: transparent url(../images/next/bg-header.png) scroll top left repeat-x;*/
}

/** Header */
#header {
    width: 100%;
    height: 150px;
    float: left;
    border-bottom: 1px #49483E dashed;
    background: #fffef4 url(../images/bg-wood.jpg) scroll top left repeat-x;
}

/*
#header #logo {margin: 0;}
#header #logo a {background: url(../images/dl_logo_2.png) no-repeat;width: 286px; height: 44px;margin: 40px 0 0;}
*/

#header .inner {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

#header #logo {
    z-index: 200;
    top: -30px;
}


#header #logo a {
    width: 250px;
    height: 175px;
    margin: 0 0 0 0;
    background: url(../images/next/logo_badge.png);
/*    -webkit-transform: rotate(350deg);
    -ms-transform: rotate(350deg);*/
}

#shopnavi {
    top: 0;
}

#shopnavi .display, #shopnavi .icon {
    display: none
}

#shopnavi .ajax_basket_container {
    float: none;
    position: static;
    top: auto;
    right: 0;
    background: #b40700 url("../images/cart_icon_small.png") no-repeat center center;
    height: 46px;
    margin: 0;
    width: 50px;
}

#shopnavi .ajax_basket_container:hover,
#shopnavi .ajax_basket_container.active {
    background-position: center center;
}

#shopnavi .ajax_basket_container .ajax_basket {
    text-indent: -9999em;
    width: 40px;
    height: 46px;
}

/** Reposition the ajax loader */
#shopnavi .ajax_basket_container div.ajax_loader {
    background: url("../images/ajax-loader.gif") no-repeat;
    top: 15px;
    right: 14px;
}

/** Ajax basket result */
.ajax_basket_result {
    top: 46px !important;
    border-color: #e1540f;
    border-top: 0 none;
}

div#searchcontainer {
    position: absolute;
    right: 0px;
    left: 740px;
    top: 130px;
    background: transparent;
}

div#searchcontainer .inner_searchcontainer {
    width: 300
}


#content .inner {
    width: 100%;
    margin-top: 0px;
}

#content {
    width: 100%;
    margin-top: 0px;
}

/*	SIDEBAR LEFT
    ------------------------ *//*
#content #left {
    top: 17px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    background-color: #FFFFFF;
    -moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;
}

#content #left .categories li.active {
    border: 0;
    width: 170px;
}

#left .left_categories_shadow {
    right: 0px;
    width: 182px;
    border: none;
    background: none;
}

#content #left ul li {
    border-color: transparent;
    border-right-style: none;
    border-right-width: 0px;
    background-color: transparent;
}

#content #left ul li a {
    color: #3e3e3e;
}

#content #left ul li.active {
    background-color: transparent;
    border-color: #f2f2f2;
}

#content #left ul li.active.sub a.active {
    border-bottom-color: transparent;
}

#content #left ul li.active li {
    background-color: transparent;
}

#content #left ul li.active li a {
    color: #474747;
}

#content #left ul li.active li.active a {
    color: #e1540f;
}

#content #left ul li.active li.active li a {
    color: #797979;
}

#content #left ul li.active li.active li a.flag {
    color: #e1540f;
}

#content #left ul li.active li.active li.active a.flag {
    color: #797979;
}

#content #left ul li.active ul.submenu ul, #content #left ul li.active ul.submenu ul.submenu ul.submenu {
    border-color: transparent;
}

*//** LEVEL 0 **//*

#content #left .categories li.active.sub a.active {
    background-color: #b40700;
    border: none;
    color: #fff;
}

#content #left .categories li a:hover {
    color: #b40700;
}

*//** LEVEL 1 **//*
#content #left .categories li .submenu {
    background: none;
    border-left: none;
    border-right: none;
    padding-top: 5px;
}*/

/*  CONTAINER
    ------------------------ */

div#breadcrumb {
    width: 984px;
    background: none;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color: #fff;
    -moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;
}

.container_20 {
    background: none;
    margin-top: 20px;
    padding: 0 0 0 0;
    width: 100%;
    /*background: #fffaed;
    border: 0;
    -moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;*/
}

#center {
    width: 794px;
    /*background: #fff;*/
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /*-moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;*/
}

#center.home {
    margin-right: 10px;
    margin-left: 10px;
    width: 984px;
    overflow: hidden;
}

/*	WRAPPER
	------------------------ */
#wrapper {
    width: 1024px;
}

#wrapper .wrap_inner {
    background: none;
}

#wrapper .footer_top,
#wrapper .wrap_top {
    background: none;
}

#wrapper .footer_cap,
#wrapper .wrap_cap {
    background: none;
}

/*	TAGCLOUD
	------------------------ */
.tagcloud {
    background: #fff;
    border-color: #dfdfdf;
    border-top-color: #fff;
    -moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;
}

/* ZULETZT ANGESCHAUTE ARTIKEL */

.viewlast {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: none;
    padding: 20px;
    display: inline-block;
    width: 964px;
    background: #f6f3ea;
    border: 1px dashed #e0dcce;
    border-radius: 5px 5px 5px 5px;

    /*background: #fff;
    -moz-box-shadow: 0 -1px 8px #b3a88d;
    -webkit-box-shadow: 0 -1px 8px #b3a88d;
    box-shadow: 0 -1px 8px #b3a88d;*/
}

.viewlast .article_description {
    margin-top: 5px;
    height: 25px;
    padding: 0;
    color: #000;
    font-size: 12px;
}

.viewlast .lastview_rule,
.viewlast li {
    background: none;
    float: left;
    padding-right: 35px;
    margin: 0 10px 10px 0;
    height: 140px;
    width: 155px;
    text-align: center;
}

/* FOOTER */

#footer_wrapper {
    background-color: #333541;
    background-image: url("../images/bg-wood.jpg");
    border-top: none;
}

#footer_wrapper .footer_top {
    height: 7px;
}

#footer_wrapper .footer_inner {
    width: 100%;
    min-height: 270px;
    margin: 0 auto;
    background: transparent;
}

#footer_wrapper .footer_inner #footer {
    background: none;
    width: 100%;
    margin: 40px auto 0;
}

#footer_wrapper .footer_inner .bottom {
    width: 1000px;
    margin: 20px auto 0;
    text-align: center;
    padding-bottom: 10px;
}

#footer .footer_menu {
    background: none;
    height: 205px;
    width: 1020px;
    border: 0;
    overflow: hidden;
    text-align: left;
    margin: 30px auto;
    padding: 0;
}

#footer .footer_menu .head {
    color: #b40700;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

#footer .footer_menu .footer_column {
    float: left;
    min-height: 250px;
    padding: 0 30px;
}