/* MAIN-NAVIGATION
	------------------------ */
/*
#mainNavigation {font-size: 30px; font-weight: 700; text-shadow: 0px 1px 1px #4d4d4d;}
*/
#mainNavigation {background: none; margin: 0 auto; top:65px; left:250px; height: 45px; position:absolute; padding: 10px 10px 10px 10px; width: 600px; border-bottom: none; line-height: 40px;}
#mainNavigation a {padding:2px 5px 0px 5px; height: 37px; cursor: pointer; border-left: none; border-right: none;}
#mainNavigation a span {background: transparent; display: block; margin: 0; padding: 0 10px 0px; height: 40px; line-height: 40px; font-size: 25px; font-weight: 900; color: rgb(255,255,255);}

#mainNavigation a:hover {background: none; text-decoration: none; }
#mainNavigation a:hover span {background: none; color: rgb(255,255,255); margin: 0px 0; height: 40px; line-height: 40px;}

#mainNavigation a.active {background: none; color: #fff; border: 0 none; height: 40px;}
#mainNavigation a.active span {background: none; height: 40px; color: rgb(255,255,255);}
#mainNavigation a.active:hover span {background: none; height: 40px; margin: 0; line-height: 40px;}

/*text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);*/

/* Drop down menu */
#mainNavigation ul li.dropactive:hover a {background-image: none; background-color: transparent; border-style: none none; color: #fff;}
#mainNavigation ul li.dropactive:hover a span {background: none; height: 40px; color: rgb(255,255,255);}

#mainNavigation ul li.dropactive:hover ul.dropdown li:hover a {color: #fff; background-color: transparent;}
#mainNavigation ul li.dropactive:hover ul.dropdown li:hover li a {color: #e1540f; background-color: #fff;}
#mainNavigation ul li.dropactive:hover ul.dropdown li:hover li:hover a {color: #fff;background-color: #e1540f;}
#mainNavigation ul li.dropactive:hover ul.dropdown li:hover li:hover li a {color: #e1540f;background-color: #fff;}
#mainNavigation ul li.dropactive:hover ul.dropdown li:hover li:hover li:hover a {background-color: #e1540f;color:#fff;}
#mainNavigation ul li.dropactive:hover ul.dropdown li li:hover a {color: #fff;}

#mainNavigation ul li.dropactive:hover li:hover a {color: #fff;background-color: #e1540f;}

#mainNavigation ul li.dropactive:hover ul.droplevel {background-color: transparent;border-color: transparent;}
#mainNavigation ul li.dropactive:hover ul.dropdown li.sub {background: none;}
#mainNavigation ul li.dropactive:hover ul.dropdown li.sub:hover {background: none;}
#mainNavigation ul li.dropactive:hover ul.dropdown li a {color:#808080;border-color: #333333; height:25px; line-height:25px; padding: 0 20px 0 10px;}
#mainNavigation ul li.dropactive:hover ul.dropdown li a.active {color:#b40700;border-color: #333333; height:25px; line-height:25px; padding: 0 20px 0 10px;}

#mainNavigation ul li.dropactive:hover ul.dropdown li.sub ul li a {background: #000; color: #808080;}
#mainNavigation ul li.dropactive:hover ul.dropdown li.sub ul li a:hover {background: #333333; color: #fff;}

#mainNavigation li:hover ul.dropdown, #mainNavigation li:hover ul.droplevel {background-color: #000; border: none;}
#mainNavigation li:hover ul.dropdown, #mainNavigation li:hover ul.droplevel {margin-left: 6px;margin-top: 2px;}

#mainNavigation li.active:hover ul.dropdown {margin-left: 5px;}
#mainNavigation li.active:hover ul.dropdown {margin-left: 5px;}

#mainNavigation ul li.dropactive:hover ul.dropdown li.sub ul {margin: 0px; border: 0; border-left: 1px solid #333;}
#mainNavigation ul li.active.dropactive:hover a {background: none; border: 0 none;}


/*
.wrapper-dropdown {
    */
/* Size and position *//*

    position: absolute;
    width: 100px;
    margin: 0 auto;
    padding: 10px;

    */
/* Styles *//*

    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    */
/* Font settings *//*

    font-weight: bold;
    color: #8AA8BD;
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.wrapper-dropdown .dropdown {
    */
/* Size & position *//*

    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    */
/* Styles *//*

    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;

    */
/* Hiding *//*

    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
}

.wrapper-dropdown .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}

*/
/* Hover state *//*


.wrapper-dropdown .dropdown li:hover a {
    background: #f3f8f8;
}

.wrapper-dropdown .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}*/
