/* ARTICLE DETAILS
	------------------------ */

#content #detail {
    padding: 10px;
    margin: 10px;
    width: 984px !important;
    background-color: #FFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
}

.ctl_detail #content .inner {
    width: 100%;
}

.ctl_detail #content {
    margin-top: 10px;
}

.ctl_detail .thumb_box a:hover {
    border: 1px dashed #e0dcce;
}

.ctl_detail .thumb_box a.active {
    border-style: solid;
    border-color: #e0dcce;
    opacity: 1
}

#detail #detailinfo {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    /*background-color: #FFF;*/
    /*border-radius: 5px;*/
    /*-webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);*/
    /*-moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);*/
}

#detail #detailinfo #description,
#detail #detailinfo .ui-tabs-panel {
    padding-top: 30px;
    padding-left: 0px;
    width: 560px;
}

.right {
    width: 570px;
    min-height: 400px;
    padding: 10px;
}

/*.right #buybox{*/
    /*background-color: #FFF;*/
    /*border-radius: 5px;*/
    /*-webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);*/
    /*-moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);*/
/*}*/

#detail .left {
    min-height: 400px;
}


#detail #detailbox #detailbox_middle {
    margin: 0px 50px 0px 30px;
    width: 200px;
}


/* Artikel-switcher */

#detail .article_back {
    background: url("../images/bg/bg-prev.png") no-repeat;
    width: 25px;
    float: none;
    height: 25px;
    position: absolute;
    top: 200px;
    z-index: 10;
    margin-left: 5px;
}

#detail .article_next {
    background: url("../images/bg/bg-next.png") no-repeat;
    width: 25px;
    float: none;
    height: 25px;
    position: absolute;
    top: 200px;
    z-index: 10;
    margin-right: 5px;
}

#detail .article_back:hover {
    background-position: 0px 0;
    opacity: 0.7
}

#detail .article_next:hover {
    background-position: 0px 0;
    opacity: 0.7
}

#detail .article_back a {
    background: none
}

#detail .article_back:hover a {
    background: none
}

#detail .article_next a {
    background: none
}

#detail .article_next:hover a {
    background: none
}

#detailbox h1 {
    line-height: 26px;
    border-bottom: 1px dashed #e0dcce;
    padding-bottom: 10px;
}

#detail #detailbox #img {
    width: 273px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    float: left;
    padding: 15px;
    /*background: #FFF;*/
    /*border-radius: 5px 5px 5px 5px;*/
    /*-webkit-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);*/
    /*-moz-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);*/
}

#buybox {
    width: 100%;
}

#buybox label {
    width: 70px;
}

#buybox #detailCartButton {
    border-top: none;
    padding-top: 20px;
}

/* SelectBoxen-Größe */
#buybox #detailCartButton #sQuantity {
    width: 87px;
}

#buybox select {
    width: 87px;
}

#buybox .article_details_bottom {
    margin: 0px 0 0;
    padding: 0px 0 0px;
    border-style: none none none;
}

#buybox #basketButton {
    width: 175px;
    margin-top: 0px;
    float: right;
    box-shadow: none;
    background: #e54a4a;
    text-align: center;
    padding: 0;
}

#buybox #basketButton:hover {
    font-weight: 700;
}

/*	FANCY SELECT
	-------------------------------------------- */
body .outer-select {
    width: 60px;
}