.container_20 #basket {
    /*background: #F6F3EA;
    top: -5px;
    margin: 0 0 0;
    border: 1px dashed #E0DCCE;
    border-radius: 5px 5px 5px 5px;*/
}

.container_20 #basket .table {
    width: 976px;
    padding: 10px;
}

#basket .cart .table_foot #aggregation_left {
    border-top: none;
}

#basket .cart .table_foot #aggregation {
    border-top: none;
}

#basket .actions {
    height: 40px;
    padding: 10px;
}

#basket .actions a.button-right {
    position: absolute;
    right: 10px;
}


/* STEPBOX */

div.step_box {
    background: none;
    margin: 10px;
}

div.step_box ul li.active {
    background: #FFF;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

div.step_box ul li {
    background: #FFF;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

/* CONFIRM */
#content #confirm {
    border-radius: 5px 5px 5px 5px;
}

#content #confirm .grid_16 {
    background-color: #FFF;
    border-radius: 5px;
}
.basket_bottom_paypal {
    float: right;
    background: none;
    margin-right: 205px;
}