/*	SIDEBAR LEFT
    ------------------------ */
#content #left {
    top: 17px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 10px;
    width: 170px;
    /*background-color: #FFFFFF;*/
    /*border: 1px dashed #dfdfdf;*/
    /*-moz-box-shadow: 0 -1px 8px #b3a88d;*/
}

#content #left .categories li.active {
    border: 0;
    width: 170px;
}

#content #left ul li.active li.active {
    background: #ffffff;
    border: 0 none;
}

#content #left .categories li .submenu li {
    background: none;
    background-color: #ffffff;
    border: 0px none;
    width: 170px;
    margin-bottom: 5px;

    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

#content #left .categories li .submenu li a {
    padding: 5px 0px 5px 20px;
}

#left .left_categories_shadow {
    right: 0px;
    width: 182px;
    border: none;
    background: none;
}

#content #left ul li {
    border: none;
   /* border-color: transparent;
    border-right-style: none;
    border-right-width: 0px;
    background-color: transparent;*/
}

#content #left ul li a {
    color: #FFF;
    font-size: 12px;
}

#content #left ul li.active {
    /*background-color: #9e1847;*/
}

#content #left ul li.active.sub a.active {
    border-bottom-color: transparent;
}

#content #left ul li.active li {
    background-color: transparent;
}

#content #left ul li.active li a {
    color: #474747;
}

#content #left ul li.active li.active a {
    color: #e1540f;
}

#content #left ul li.active li.active li a {
    color: #797979;
}

#content #left ul li.active li.active li a.flag {
    color: #e1540f;
}

#content #left ul li.active li.active li.active a.flag {
    color: #797979;
}

#content #left ul li.active ul.submenu ul, #content #left ul li.active ul.submenu ul.submenu ul.submenu {
    border-color: transparent;
}

/* WEIBLEIN */

#content #left .categories li.active.sub a.active {
    background-color: #e54a4a;
    border: none;
    color: #fff;
}

#content #left .categories li a:hover {
    color: #e54a4a;
    font-weight: 700;
}

#content #left .categories li.active li.active a.flag {
    border: 0px none;
    color: #e54a4a;
}

/** LEVEL 1 **/
#content #left .categories li .submenu {
    background: none;
    border-left: none;
    border-right: none;
    padding-top: 5px;
}

/** FILTER **/
#content #left  .headingbox_nobg.filter_properties {
    border: none;
    background: #fff;
}

div.supplier_filter, div#hersteller_filter span {
    background: none;
    border: none;
}

#content #left .filter_properties .supplier_filter {
    width: 170px;
}

#content #left .filter_properties .supplier_filter div {
    border: none;
    width: 160px;
}