/** Background image */
body {
    background: url("../images/bg-papel.jpg") repeat #fff;
}

/** Reformat the basket display */
#shopnavi {
    position: absolute;
    top: 0;
    right: 0;
}

#shopnavi .display, #shopnavi .icon {
    display: none
}

#shopnavi .ajax_basket_container {
    float: none;
    position: static;
    top: auto;
    right: 0;
    background: #e1540f url("../images/cart_icon_small.png") no-repeat center center;
    height: 46px;
    margin: 0;
    width: 50px;
}

#shopnavi .ajax_basket_container:hover,
#shopnavi .ajax_basket_container.active {
    background-position: center center;
}

#shopnavi .ajax_basket_container .ajax_basket {
    text-indent: -9999em;
    width: 40px;
    height: 46px;
}

/** Reposition the ajax loader */
#shopnavi .ajax_basket_container div.ajax_loader {
    background: url("../images/ajax-loader.gif") no-repeat;
    top: 15px;
    right: 14px;
}

/** Change border color to match the new background image */
#header {
    background: url(../images/header-bg.png) repeat;
    border-bottom: 1px dashed #aaa;
    height: 150px;
    margin-bottom: 30px;
}

#header #logo {
    margin: 0;
}

#header #logo a {
    background: url(../images/logo.jpg) no-repeat;
    width: 286px;
    height: 44px;
    margin: 50px 0 0;
}

/** MEIN KONTO */
/** Reformat the options */
.outer_my_options {
    background: url(../images/header-navi-bg.png) repeat #262626;
    position: relative;
}

.inner_my_options {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.my_options {
    position: relative;
    left: 580px;
    top: auto;
    background: transparent;
    border: 0 none;
    margin: 0 auto;
    padding: 10px 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    width: 360px;
}

.my_options, #shopnavi {
    float: left
}

body .my_options a, .my_options .service {
    color: #aaa !important
}

.my_options a.account,
.my_options a.note {
    border-right-color: #aaa;
}

#topbar {
    border-left-color: #666
}

.my_options #topbar input.active {
    color: #fff
}

/** Remove background image from the "my account" link */
.my_options a.account {
    background: none;
    background: transparent;
    padding-left: 0
}

.my_options a.account:hover {
    background: none;
}

/** Ajax basket result */
.ajax_basket_result {
    top: 46px !important;
    border-color: #e1540f;
    border-top: 0 none;
}

/** Reposition the search field */
div#searchcontainer {
    left: 730px;
    top: 80px;
}

div#searchcontainer .inner_searchcontainer {
    width: 300
}

/** Header teaser styling */
/*
.header_teaser {
    position: absolute;
    left: 200px;
    top: 40px;
}

.header_teaser .column {
    float: left;
    width: 130px;
    font-size: 13px;
    color: #999;
    border-right: 1px solid #dfdfdf;
    padding: 0 15px;
}

.header_teaser .last_column {
    border-right: 0 none
}
*/

/* FOOTER
    ------------------------ */

#footer_wrapper {
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    border-top: 1px solid #dfdfdf;
}
#footer_wrapper .footer_inner {
    width: 100%; min-height: 270px;
    margin: 0 auto;
}

#footer_wrapper {
    background: url(../images/footer-bg.png) repeat-x;
    border-top: 0px;
}

#footer_wrapper .footer_inner #footer {
    background: none;
    width: 100%;
    margin: 40px auto 0;
}

#footer .footer_menu {
    background: none;
    height: 205px; width: 1000px;
    border: 0;
    overflow: hidden;
    text-align: left;
    margin: 30px auto;
    padding: 0;
}

#footer .footer_menu .head {
    color: #e1540f;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 11px;
    margin-top: 8px;
    display: block;
}

/* MAIN-NAVIGATION
	------------------------ */
#mainNavigation {
    background: url(../images/nav-bg.png) no-repeat;

    height: 39px;
    width: 1050px;
    border-bottom: 0px solid #c30000;
    top: 180px;
    left:0px;
    right:0px;
    position: absolute;

    margin-left: auto;
    margin-right: auto;
}

#mainNavigation a {
    display: block;
    border-right: 0px solid;
    border-left: 0px solid;position: static;
}